---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
   <!-- <a href="/prueba" class="text-blue text-6xl">Prueba</a> -->
   <h1
      transition:name="hola"
      class="text-3xl font-bold text-center mt-10 text-blue-500"
   >
      Hola
   </h1>
</Layout>
