@import "tailwindcss";

/* Custom scrollbar styles */
::-webkit-scrollbar {
    width: 12px;
    background-color: #d1d5db; /* bg-gray-300 */
}

::-webkit-scrollbar-thumb {
    background-color: #64748b; /* dark:bg-slate-800 */
    border-radius: 6px;
}

@media (prefers-color-scheme: dark) {
    ::-webkit-scrollbar {
        background-color: #1e293b; /* dark:bg-slate-800 */
    }
    ::-webkit-scrollbar-thumb {
        background-color: #334155; /* slightly lighter for thumb in dark */
    }
}

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #64748b #d1d5db;
}
@media (prefers-color-scheme: dark) {
    * {
        scrollbar-color: #334155 #1e293b;
    }
}


::view-transition-old(list),
::view-transition-new(list) {
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
}

::view-transition-old(list) {
    animation-name: list-fade-out;
}

::view-transition-new(list) {
    animation-name: list-fade-in;
}

@keyframes list-fade-out {
    from {
        opacity: 1;
        transform: translateY(0);
        filter: blur(0px);
    }
    to {
        opacity: 0;
        transform: translateY(20px);
        filter: blur(8px);
    }
}

@keyframes list-fade-in {
    from {
        opacity: 0;
        transform: translateY(-20px);
        filter: blur(8px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
        filter: blur(0px);
    }
}
